services:
  db:
    image: postgres:17.0
    container_name: postgres
    restart: always
    env_file:
      .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: django
    restart: always
    command: >
      sh -c "python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      .env
    depends_on:
      - db